<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lanqiao.dao.CollectDao">
  <resultMap id="CollectResult" type="org.lanqiao.entity.Collect">
    <result column="USER_ID" jdbcType="DECIMAL" property="userId" />
    <result column="ARTICLE_ID" jdbcType="DECIMAL" property="articleId" />
  </resultMap>
  <insert id="insert" parameterType="org.lanqiao.entity.Collect">
    insert into COLLECT (USER_ID, ARTICLE_ID)
    values (#{userId,jdbcType=DECIMAL}, #{articleId,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="org.lanqiao.entity.Collect">
    insert into COLLECT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="articleId != null">
        ARTICLE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=DECIMAL},
      </if>
      <if test="articleId != null">
        #{articleId,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
</mapper>